Django>=1.7,<=1.8.5
django-bootstrap3>=4.8.2
django-cache-url>=1.0.0
dropbox
dj_database_url
Pillow
psycopg2
dj-static
django-sslify
raven>=5.0.0
django-haystack
whoosh
django-debug-toolbar>=1.2.1
unidecode
python-social-auth
django-gravatar2
tqdm
django-redis>=4.0.0
uwsgi>=2.0.0
