Django>=1.7,<=1.8.5
django-bootstrap3>=4.8.2
dropbox
dj_database_url
Pillow
gunicorn
psycopg2
dj-static
django-sslify
raven>=5.0.0
python-memcached
django-haystack
whoosh
django-debug-toolbar>=1.2.1
unidecode
python-social-auth
django-gravatar2
tqdm
