{% extends 'base.html' %}
{% load i18n static bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <div class="col-sm-8 col-sm-offset-2">
                <form action="" method="post" class="well">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "user" %} {% trans "Login" %}
                        </button>
                    {% endbuttons %}
                </form>
            </div>
          </div>

        </div>

      </div>

    </div>

{% endblock %}