{% extends 'base.html' %}
{% load i18n static bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}

    <div id="page">
        <div id="middle_container">

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form action="" method="post" class="well">
                            {% csrf_token %}
                            {% bootstrap_field form.username show_label=False %}
                            {% bootstrap_field form.password show_label=False %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    {% bootstrap_icon "user" %} {% trans "Login" %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}