{% extends 'base.html' %}
{% load i18n bootstrap3 roman_number %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for book in object_list %}
                <div class="col-sm-3">
                    <div class="well">
                        <img src='{{ book.cover_url }}' class="img-thumbnail">
                        <h4>{{ book.title }}
                            <small>
                                {% for author in book.authors.all %}
                                    <a href="{% url 'list' %}?q={{ author }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% if book.series %}<a href="{% url 'list' %}?q={{ book.series }}&series=1" class="label label-default">{% trans "Series" %}: {{ book.series }} ({{ book.series_index|roman_number }})</a>{% endif %}
                            </small>
                        </h4>
                        {% for book_file in book.data.all %}
                            <a href="{% url 'download' book_file.id %}" class="btn btn-primary btn-xs" title="{% trans "File size" %}: {{ book_file.size|filesizeformat }}">{{ book_file.format }}</a>
                        {% endfor %}
{#                        <a href="#" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-phone"></span> {% trans "Send to Kindle" %}</a>#}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
        </div>

        {% if paginator.num_pages > 1 %}
            {% bootstrap_pagination page_obj extra=filters %}
        {% endif %}
    
    </div>

{% endblock %}