{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for book in object_list %}
                <div class="col-sm-3">
                    <img width="200" src='{{ book.cover_url }}' class="img-thumbnail">
                </div>
                <div class="col-sm-9">
                    <h2>{{ book.title }}</h2>
                    {% for author in book.authors.all %}
                        {{ author }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            {% endfor %}
        </div>
    </div>

{% endblock %}