{% extends 'base.html' %}
{% load i18n bootstrap3 roman_number %}
{% load genres %}

{% block content %}

    <div class="container book-list">

        {% if request.GET.g %}
            <ol class="breadcrumb">
              <li><a href="/">{% trans "Home" %}</a></li>
              {% for genre in request.GET.g|split %}
                <li class="genre-toggle"><a href="#">{{ genre }}</a></li>
              {% endfor %}
            </ol>
        {% endif %}

        <div class="row">
            {% for book in object_list %}
                <div class="col-sm-2">
                    <div class="well">
                        <a href="#" data-toggle="modal" data-target="#book-{{ book.pk }}"><img src='{{ book.cover_url }}' class="img-thumbnail"></a>
                        <h5>{{ book.title }}
                            <small>
                                {% for author in book.authors.all %}
                                    <a href="{% url 'list' %}?q={{ author }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% if book.series %}<a href="{% url 'list' %}?q={{ book.series }}&series=1" class="label label-default">{% trans "Series" %}: {{ book.series }} ({{ book.series_index|roman_number }})</a>{% endif %}
                            </small>
                        </h5>
                        {% for book_file in book.data.all %}
                            <a href="{% url 'download' book_file.id %}" class="btn btn-primary btn-xs" title="{% trans "File size" %}: {{ book_file.size|filesizeformat }}">{{ book_file.format }}</a>
                        {% endfor %}
{#                        <a href="#" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-phone"></span> {% trans "Send to Kindle" %}</a>#}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:6 %}
                    <div class="clearfix"></div>
                {% endif %}
                {% with description=book.get_description %}
                    {% if description %}
                        <div class="modal fade" id="book-{{ book.pk }}" tabindex="-1" role="dialog" aria-labelledby="book-description">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">{{ book.title }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ description.text|safe }}
                                    </div>
                                    <div class="modal-footer">
                                        <div class="pull-left">
                                            {% for identifier in book.identifiers.all %}
                                                {% if identifier.get_url %}
                                                    <a target="_blank" href="{{ identifier.get_url }}">{{ identifier.type|title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>

        {% if paginator.num_pages > 1 %}
            {% bootstrap_pagination page_obj extra=filters %}
        {% endif %}
    
    </div>

{% endblock %}