{% extends 'bootstrap3/bootstrap3.html' %}
{% load i18n bootstrap3 static %}

{% block bootstrap3_title %}
    {% trans "Calibre Books" %}
{% endblock %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="Shortcut icon" href="{% static "img/favicon.jpg" %}" />
{% endblock %}

{% block bootstrap3_content %}
    {% block main-nav %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">


          <a class="navbar-brand" href="{% url 'list' %}">{% bootstrap_icon "home" %}</a>

          <form class="navbar-form navbar-left" role="form" action="{% url 'list' %}">
            <div class="form-group">
              <input type="text" name='q' value='{{ request.GET.q }}' placeholder="{% trans "Search" %}" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">{% bootstrap_icon "search" %}</button>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}">{{ request.user.get_full_name }} {% bootstrap_icon "off" %} {% trans "Logout" %}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}
