{% extends 'bootstrap3/bootstrap3.html' %}
{% load i18n bootstrap3 static gravatar genres %}

{% block bootstrap3_title %}
    {% trans "Calibre Books" %}
{% endblock %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/sidebar.css" %}" rel="stylesheet">
    <link rel="Shortcut icon" href="{% static "img/favicon.jpg" %}" />

    {% if google_analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ google_analytics }}', 'auto');
          ga('send', 'pageview');
        </script>
    {% endif %}
{% endblock %}

{% block bootstrap3_extra_script %}
    {{ block.super }}
    <script>
        $(".genre-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock %}

{% block bootstrap3_content %}

<div id="wrapper" class="toggled">

    {% book_has_genres as show_genres %}
    {% if show_genres %}
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <span class="glyphicon glyphicon-book"></span> {% trans "Genres" %}
                    </a>
                </li>
                <li><a href='?g=&q={{ request.GET.q }}'><span class="glyphicon glyphicon-chevron-right"></span> {% trans "All" %}</a></li>
                {% genres %}
            </ul>
        </div>

        <a href="#genre-toggle" class="btn btn-default genre-toggle" id="genre-toggle"><span class="glyphicon glyphicon-cog"></span><br>{% trans "G" context 'genre' %} </a>
    {% endif %}

    {% block main-nav %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">


          <a class="navbar-brand" href="{% url 'list' %}">{% bootstrap_icon "home" %}</a>

          <form class="navbar-form navbar-left" role="form" action="{% url 'list' %}">
            <div class="form-group">
              <input type="text" name='q' value='{{ request.GET.q }}' placeholder="{% trans "Search" %}" class="form-control">
              <input type="hidden" name='g' value='{{ request.GET.g }}'>
            </div>
            <button type="submit" class="btn btn-success">{% bootstrap_icon "search" %}</button>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><img src="{% gravatar_url user.email 40 %}" class="img-responsive img-circle" alt="{{ user.email }}"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name|default:user.email }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'logout' %}">{% bootstrap_icon "off" %} {% trans "Logout" %}</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}
</div>
{% endblock %}
