@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.book-list .well {
    padding: 10px;
}

.book-list small {
    font-size: 90%;
}

.navbar-nav>li>span {
    padding: 15px 5px 15px 0;
    display: block;
}

.navbar-nav>li>img {
    padding-top: 5px;
}